@font-face {
  font-family: Pretendard-thin;
  src: url('./styles/fonts/Pretendard-Thin.woff');
}
@font-face {
  font-family: Pretendard-regular;
  src: url('./styles/fonts/Pretendard-Regular.woff');
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  